# This file contains common pin mappings for the BigTreeTech SKR 2.
# To use this config, the firmware should be compiled for the
# STM32F407 with a "32KiB bootloader".

# The "make flash" command does not work on the SKR 2. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR 2
# with that SD card.

# See docs/Config_Reference.md for a description of parameters.

[board_pins]
aliases:
    # TMC StallGuard DIAG pins
    X_DIAG=P1.29, Y_DIAG=P1.27, Z_DIAG=P1.25, 
    E0_DIAG=P1.28, E1_DIAG=P1.26, 

    # TMC software SPI
    TMC_SW_MOSI=PA14,
    TMC_SW_MISO=PE14,
    TMC_SW_SCK=PE15,

    # BLTouch (Servo/Probe)
    SERVO0=PE5,
    PROBE=PE4,

    # RGB
    RGB=PE6

    # Limit Switches
     X_STOP=PC1,
     Y_STOP=PC3,
     Z_STOP=PC0,
    E0_STOP=PC2,
    E1_STOP=PA0,

    # Steppers
     X_STEP=PE2,   X_DIR=PE1,   X_ENABLE=PE3,   X_UART=PE0,
     Y_STEP=PD5,   Y_DIR=PD4,   Y_ENABLE=PD5,   Y_UART=PD3,
     Z_STEP=PA15,  Z_DIR=PA8,   Z_ENABLE=PD1,   Z_UART=PD0,
    E0_STEP=PD15, E0_DIR=PD14, E0_ENABLE=PC7,  E0_UART=PC6,
    E1_STEP=PD11, E1_DIR=PD10, E1_ENABLE=PD13, E1_UART=PD12,
    
    TEMP_0=PA2,
    TEMP_1=PA3,
    TEMP_BED=PA1,

    FAN=PB7,
    FAN1=PB6,
    FAN2=PB5,
    HEAT_0=PB3,
    HEAT_1=PB4,
    HEAT_BED=PD7,

    # EXP1 header
    EXP1_1=PC5, EXP1_3=PB1, EXP1_5=PE10, EXP1_7=PE12, EXP1_9=<GND>,
    EXP1_2=PB0, EXP1_4=PE9, EXP1_6=PE11, EXP1_8=PE13, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PA6, EXP2_3=PE7, EXP2_5=PB2, EXP2_7=PC4,   EXP2_9=<GND>,
    EXP2_2=PA5, EXP2_4=PA4, EXP2_6=PA7, EXP2_8=<RST>, EXP2_10=<NC>


[output_pin motor_power]
pin: PC13
value: 1
