[gcode_macro LOAD_MESH_TEMP]
default_parameter_BED_TEMPERATURE: 0
default_parameter_FORCE: 0
gcode:
    {% if printer.configfile.config["bed_mesh " + BED_TEMPERATURE] is defined and FORCE|int == 0 %}
        {printer.gcode.action_respond_info("Using the " + BED_TEMPERATURE + " profile.")}
        BED_MESH_PROFILE LOAD={BED_TEMPERATURE}
    {% else %}
        {printer.gcode.action_respond_info("bed_mesh not defined!")}
        {% if printer.configfile.config["bed_mesh " + BED_TEMPERATURE] is defined and FORCE|int == 1 %}
            {printer.gcode.action_respond_info("We will probe the bed and save the mesh as bed_mesh "+ BED_TEMPERATURE)}
            BED_MESH_PROFILE REMOVE={BED_TEMPERATURE}
            ADD_BED_MESH TARGET_TEMP={BED_TEMPERATURE}
        {% else %}
            {printer.gcode.action_respond_info("Using the default profile.")}
            BED_MESH_PROFILE LOAD=default
        {% endif %}
    {% endif %}


## Tuning Adjustments 
## Adjust Z (SET_GCODE_OFFSET) based on each filament type (based on bed temp)
[gcode_macro TEMPADJUSTOFFSET]
gcode:
    #ABS
    {% if printer.heater_bed.target >= 100 %}
    {% endif %}
    #PETG
    {% if printer.heater_bed.target > 65 and printer.heater_bed.target < 100 %}
        SET_GCODE_OFFSET Z=0 MOVE=1
        SET_GCODE_OFFSET Z_ADJUST=0.05 MOVE=1
    {% endif %}
    #PLA
    {% if printer.heater_bed.target <= 65 %}
        SET_GCODE_OFFSET Z=0 MOVE=1
        SET_GCODE_OFFSET Z_ADJUST=0.1 MOVE=1
    {% endif %}

## Pressure Advance Adjustments
## Use a different PA setting for each filiment type (uses bed temp to determine)
[gcode_macro TEMPADJUSTPA]
gcode:
    #ABS
    {% if printer.heater_bed.target >= 100 %}
        SET_PRESSURE_ADVANCE ADVANCE=0.05585
    {% endif %}
    #PETG
    {% if printer.heater_bed.target > 65 and printer.heater_bed.target < 100 %}
        SET_PRESSURE_ADVANCE ADVANCE=0.0785
    {% endif %}
    #PLA
    {% if printer.heater_bed.target <= 65 %}
        SET_PRESSURE_ADVANCE ADVANCE=0.0325
    {% endif %}
